.produto {
  margin: 8px;
  height: 100%;
}

mat-card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

mat-card-actions button {
  height: 100%;
  margin-left: 8px;
}
