<div>
  @for (p of produtos(); track p) {
    <app-produto
    [nome] = "p.nome"
    [valor]= "p.valor"
    (produtoSelecionado)="exibirProduto($event)"
    >
    </app-produto>
    <h2><button (click)="adicionarAoCarrinho(p)">Adicionar ao Carrinho</button></h2>
  }

  <h2>Total de produtos: {{ totalProdutos() }}</h2>
  <h2>Preço total: {{ valorTotal() | valorFormatado }} lulacoins</h2>
  <h2><button (click)="adicionarProduto()">Adicionar Produto</button></h2>
  <h2><button (click)="substituirProdutos()">Substituir Produtos</button></h2>
  <hr>
  <h2>Carrinho</h2>
  @for (p of carrinho(); track $index) {
    <p>{{ p.nome | uppercase }} - {{ p.valor | valorFormatado}} </p>
  }
  <p><strong> Itens no carrinho: </strong>{{ quantidadeCarrinho()}}</p>
  <p><strong>Valor total do carrinho: </strong>{{ totalCarrinho() | valorFormatado }}</p>


  <button (click)="removeTodosProdutos()">Remover todos os produtos</button>
</div>
