<div class="pag-listaprodutos">
  <div class="lista-produtos">
    @if (carregando()) {
      <p>Carregando produtos...</p>
    }

    @if (erro()) {
      <p style="color: red;">
        {{ erro() }}
      </p>
      <button (click)="carregarProdutos()">Tentar novamente</button>
    }

    @if (!carregando() && !erro()) {
      @for (p of produtos(); track p.nome) {
        <app-produto
        [nome]="p.nome"
        [valor]="p.valor"
        ></app-produto>
        <!-- <h2>
          <button id="btnAddAoCarrinho" (click)="adicionarAoCarrinho(p)">
            Adicionar {{ p.nome }} ao Carrinho
          </button>
        </h2> -->
      }
    }
  </div>
  <aside class="pag-lp-carrinho">
    <!-- <h2>Total de produtos: {{ totalProdutos() }}</h2>
    <h2>Preço total: {{ valorTotal() | valorFormatado }} lulacoins</h2>
    <hr /> -->
    <div>
      <h2>Carrinho</h2>
      @for (p of carrinho(); track $index) {
        <p>{{ p.nome | uppercase }} - {{ p.valor | valorFormatado }}</p>
      }
      <p><strong>Itens no carrinho: </strong>{{ quantidadeCarrinho() }}</p>
      <p><strong>Valor total do carrinho: </strong>{{ totalCarrinho() | valorFormatado }}</p>
    </div>
  </aside>
</div>
