<div class="lp-component">
  <div class="lista-de-produtos">
    @if (carregando()) {
      <p>Carregando produtos...</p>
    }

    @if (erro()) {
      <p style="color: red;">
        {{ erro() }}
      </p>
      <button (click)="carregarProdutos()">Tentar novamente</button>
    }

    @if (!carregando() && !erro()) {
      @for (p of produtos(); track p.nome) {
        <app-produto
        [nome]="p.nome"
        [valor]="p.valor"
        (produtoSelecionado)="exibirProduto($event)"
        (produtoAdicionado)="adicionarAoCarrinho($event)"
        ></app-produto>
      }
    }
  </div>
  <aside class="lp-carrinho-lateral">
    <div>
      <h2>Carrinho</h2>
      @for (p of carrinho(); track $index) {
        <p>{{ p.nome | uppercase }} - {{ p.valor | valorFormatado }}</p>
      }
      <p><strong>Itens no carrinho: </strong>{{ quantidadeCarrinho() }}</p>
      <p><strong>Valor total do carrinho: </strong>{{ totalCarrinho() | valorFormatado }}</p>
    </div>
  </aside>
</div>
