
body {
  background-color: #000000;
  color: #485696;
  font-family: 'Courier New', monospace;
  font-size: large;
}

a {
  transition: 0.5s;
  color: #485696;
  text-decoration: none;
}

a:hover {
  color: black;
  text-decoration: underline;
  transition: .5s;
}

/* ======================================================= */

.app-index {
  background-color: #E7E7E7;
  padding: 25px;
  border-radius: 20px;
}

/* Produtos */

.produtos-comp {
  box-shadow: 1px 1px 5px #000000;
  padding: 5px;
  margin-bottom: 30px;
  width: 290px;
  border-radius: 10px;
  text-align: center;

  display: flex;
  flex-direction: column;
  align-items: center;
}

.produtos-comp h3#nome {
  margin-bottom: 0;
}

.produtos-comp h3#preco {
  padding: 5px;
  width: fit-content;
  border-radius: 10px;
  text-align: center;

  background-color: #485696;
  color: #E7E7E7;
}

.produtos-comp button#btnAddAoCarrinho {
  transition: 0.5s;

  padding: 5px;
  margin-bottom: 20px;
  width: 250px;

  font-family: 'Courier New', monospace;
  font-size: medium;

  border: none;
  border-radius: 5px;
  box-shadow: 1px 1px 5px #000000;
  color: #485696;
}

.produtos-comp button#btnAddAoCarrinho:hover {
  transition: 0.5s;
  padding: 10px;
  background-color: black;
  color: #E7E7E7;
}

/* Página */

.pag-listaprodutos {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.lista-produtos {
  display: flex;
  flex-direction: column;
}

.pag-lp-carrinho {
  width: 400px;
  padding: 10px;
  border-radius: 10px;
  box-shadow: 1px 1px 5px #000000;
}
